body { 
    background-color: black;
    text-align: justify;
}


.container { 
    text-align: center;
}

h1 { 
    color:rgb(222, 222, 230);
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}
p  { 
    color:rgb(244, 243, 243);
    text-align: justify;
    font-size: 2rem;
}
button{
text-align:center;
}

input{
display:flex;
justify-content:center;
align-items:center;
margin:0 auto;
}


body {
    font-family: Arial, sans-serif;
}

#pantalla, #Resultado, #calcular, #borrar {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
}

#pantalla, #Resultado {
    width: 200px;
}

#calcular, #borrar {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#calcular:hover, #borrar:hover {
    opacity: 0.8;
}
